.sh
.qmd

# Exclude the _bin directory

_base_layers/
OSM data layers/Government/
OSM data layers/Industrial/
OSM data layers/Athletics/OSM_Sport_Recreation_Centroids/
OSM data layers/Athletics/OSM_Sport_Recreation_Multipolygons
# OSM data layers/Commercial/
OSM data layers/Commercial/OSM Alchohol Cannabis Commercial Datasets/*.geojson
OSM data layers/Commercial/OSM Bank Professional Datasets/*.geojson
OSM data layers/Commercial/OSM Food Restaurant Datasets/*.geojson
OSM data layers/Commercial/OSM Hotel Dataset/*.geojson
OSM data layers/Commercial/OSM Retail Datasets/*.geojson

_base_layers/Zip Code base with Metro Area.geojson
_base_layers/Tracts - full native census data.geojson


_bin/_exports/
_bin/_working/
_bin/CSVs/
_bin/Data Sources/
_bin/Health/
_bin/KuCLI/




